useDynLib("repeated")

import(rmutil)

export(binnest,print.binnest,
biv.betab,print.bevbetab,
biv.binom,print.bivbinom,
capture,setup,
catmiss,chidden,
cmcre,print.cmcre,
cphidden,
gar,volatility,volatility.gar,deviance.gar,fitted.gar,residuals.gar,print.gar,
gausscop,deviance.gausscop,fitted.gausscop,residuals.gausscop,print.gausscop,
glmm,print.glmm,print.summary.glmm,summary.glmm,
gnlmix,gnlmm,gnlmm3,
hidden,plot.hidden,print.hidden,
hnlmix,deviance.hnlm,fitted.hnlm,residuals.hnlm,print.hnlm,
kalcount,deviance.kalcount,fitted.kalcount,residuals.kalcount,print.kalcount,
kalseries,deviance.kalseries,fitted.kalseries,residuals.kalseries,print.kalseries,
logitord,print.logitord,
marg.hom,print.marginal,
nbkal,deviance.nbkal,fitted.nbkal,residuals.nbkal,print.nbkal)
